---
title: Hand-Over Page
bodyClass: page
---
extends layouts/_layout
block content
  .handover__page
    section.handover__page__intro.page__intro(style="background-image: url('img/hand-over/intro-bg.jpg')")
      .container
        .row
          .col-12
            div
              h1 Сдай свой <br>автомобиль
              p Регистрация  проста и занимает до 10 минут.
              .d-flex.justify-content-center
                a.btn.btn-primary.btn-purple(href="#") 
                  i.icon.icon-car
                  | зарегистрировать свое авто
    section.handover__page__earn
      .container
        .row
          .col-12
            .heading
              h2.black — Сколько я могу <br>заработать?
              p.font-weight-bold SOAUTO дает возможность зарабатывать, предоставляя свой автомобиль в краткосрочную аренду. 
              p Чтобы узнать, сколько ты можешь получить за поездку на твоем авто, воспользуйся нашим Калькулятором:
              .d-flex.justify-content-center
                a.btn.btn-primary(href="#") $ калькулятор аренды
          .col-lg-7
            .handover__page__earn__block
              h3 Ценообразование
              p Ты можешь самостоятельно установить цену за сутки поездки или позволить системе сделать это автоматически, основываясь на спросе, количестве аналогичных переложений, типе авто и других факторах.
              p Еще один способ привлечь больше клиентов — еженедельные и ежемесячные скидки. Ты можешь установить индивидуальные цены для определенных дней недели или клиентов.
          .col-lg-4.offset-lg-1
            .handover__page__earn__block
              h3 Оплата
              p SOAUTO заплатит тебе через пять дней прямым депозитом. Ты будешь зарабатывать от 75% до 85% от стоимости поездки, в зависимости от того, выбрал ты пакета защиты транспортного средства или нет. 
    section.handover__page__connect(style="background-image: url('img/hand-over/connect-bg.jpg')")
      .container
        .row
          .col-12
            .heading
              h2.yellow Упрощенная<br> передача авто
            .d-flex.justify-content-center
              img(src="img/hand-over/connect-logo.png", alt="")
            p.font-weight-bold Открой для себя SOAUTO Connect — новую захватывающую функцию, которая позволит тебе дистанционно разблокировать свои автомобили для своих гостей, отслеживать пробег и многое другое.
            p Теперь воспользуйся списком ожидания, чтобы получить эксклюзивный ранний доступ к оборудованию для удаленной разблокировки SOAUTO Connect, которое станет  доступно уже в конце мая 2019 года.
            .d-flex.justify-content-center
              a.btn.btn-primary(href="#") Подключить систему Connect
    section.quote
      .container
        .row
          .col-12
            p Владельцы автомобилей, пользуясь платформой SOAUTO могут окупить все затраты, связанные  с автомобилем: страхование, ТО, ГСМ и другие расходы на владение.
            p.small Максим Межонис, основатель SOAUTO
    section.handover__page__spirit
      .container
        .row
          .col-12
            .heading
              h2.white Спокойствие духа
          .row
            .end.d-flex.flex-column.align-items-end
              i.icon.icon-car
              h3 Ты в безопасности
              p Мы проверяем всех арендаторов, прежде чем разрешить им бронировать автомобили на нашей платформе.
            .start.d-flex.flex-column
              i.icon.icon-car
              h3 Ты не одинок
              p Ты всегда можешь обратиться для советов и подсказок на нашу круглосуточную линию технической поддержки. Мы будем рядом на на каждом шагу.
          .col-12
            h4 Зарегистрируй свой автомобиль на soauto совершенно бесплатно. 
              span Нет ежемесячной платы, нет стартового взноса.
    section.handover__page__registry
      .container
        .row
          .col-12
            h2 Зарегистрируй свой автомобиль сегодня, <br>а уже завтра начни зарабатывать!
            .d-flex.justify-content-center
              a.btn.btn-primary.btn-purple(href="#") 
                i.icon.icon-car
                | зарегистрировать свое авто











