---
title: How it Works Page
bodyClass: page
---
extends layouts/_layout
block content
  .how__page
    section.how__page__intro.page__intro(style="background-image: url('img/how/intro-bg.jpg')")
      .container
        .row
          .col-12
            div
              h1 Как работает<br> SOAUTO
              p Твоя поездка начинается здесь
              .d-flex.justify-content-center.flex-column.flex-md-row
                a.btn.btn-primary.btn-purple(href="#") 
                  i.icon.icon-car
                  | арендовать авто
                a.btn.btn-primary(href="#") зарегистрировать свое авто
    section.how__page__road
      .container
        .row
          .col-12
            .left
              h2 Арендовать авто:
              .how__page__road__block.left__block
                h3 Зарегистрируйся
                p Зарегистрируйся в SOAUTO, используя телефон или e-mail. Отправь подтверждающие документы, после проверки личности и водительских прав, получишь статус верифицированный пользователь.
              .how__page__road__block.left__block
                h3 Найди машину своей мечты
                p Ты можешь арендовать свой идеальный автомобиль, исходя из потребностей, будь-то путешествие или просто повседневная поездка…
              .how__page__road__block.left__block
                h3 Забронируй автомобиль
                p Забронируй авто своей мечты! Владелец подтвердит или отклонит бронь, обычно это занимает не больше часа.
              .how__page__road__block.left__block
                h3 Забери автомобиль
                p Забери выбранный автомобиль по указанному адресу. Многие владельцы могут пригнать выбранное авто прямо к указанному месту.
              .how__page__road__block.left__block
                h3 Проведи время с комфортом
                p Передвигайся по городу или области, несколько дней или недель, в любую погоду.
              .how__page__road__block.left__block
                h3 Верни автомобиль владельцу
                p Приведи автомобиль в порядок перед тем, как вернуть автовладельцу. Вместе осмотрите автомобиль со всех сторон, убедитесь, что нет повреждений. Теперь можно вернуть ключи ,поблагодарить друг-друга  и начать планировать новую поездку!
            .right
              h2 Сдавать в аренду:
              .how__page__road__block.right__block
                h3 Зарегистрируй свое авто
                p Зарегистрируйся всего за несколько минут. Опиши своё авто, добавь несколько хороших фото и вперед!
                p Не забывай вовремя обновлять информацию о датах и времени, когда твой автомобиль доступен для бронирования.
              .how__page__road__block.right__block
                h3 Ответь на запрос
                p Если кто-то заинтересовался твоим автомобилем или отправил запрос на бронирование, ты мгновенно получишь об этом уведомление. Как можно быстрее подтверди или отклони предложение. При возникновение каких-либо вопросов, ты всегда можешь связаться с потенциальным клиентом.
              .how__page__road__block.right__block
                h3 Встретьтесь с клиентом
                p Договоритесь о месте и времени встречи.  Вместе осмотрите автомобиль со всех сторон, проверьте уровень бензина и пробег, передайте ключи и в добрый путь! Расслабьтесь и зарабатывайте!
              .how__page__road__block.right__block
                h3 Безопасность и заработок
                p Нет повода для волнения — КАСКО защитит Вас от незапланированных расходов, в случае повреждения авто.
              .how__page__road__block.right__block
                h3 Забери свой автомобиль
                p Встреться с клиентом и убедись, что всё в полном порядке. Можете поблагодарить друг друга и возвращаться домой. Не забудь оценить наше приложение, это позволит сделать наш сервис более надежным и удобным.
    section.how__page__delivery
      .container
        .row
          .col-12
            .heading
              h2.white Доставка автомобиля
              p.yellow Представь эмоции клиента, когда автомобиль остановится прямо у тротуара или  будет подано прямо к ресторану в центре города. Лишь раз получив ключи прямо из рук владельца , клиент уже не захочет возвращаться к обычным сервисам аренды автомобилей.
              h3 Есть 3 способа встретиться с клиентом:
              .row
                .col-lg-4
                  .how__page__delivery__block
                    i.icon.icon-car
                    p Владелец доставляет автомобиль по указанному адресу в пределах определенного радиуса
                .col-lg-4
                  .how__page__delivery__block
                    i.icon.icon-car
                    p Владелец доставляет<br> автомобиль в аэропорт
                .col-lg-4
                  .how__page__delivery__block
                    i.icon.icon-car
                    p Клиент забирает автомобиль<br> по адресу владельца
              .d-flex.justify-content-center.flex-column.flex-md-row
                a.btn.btn-primary.btn-purple(href="#") 
                  i.icon.icon-car
                  | арендовать авто
                a.btn.btn-primary(href="#") зарегистрировать свое авто






    