---
title: Index Page
---
extends layouts/_layout
block content

  include home/intro.jade

  include home/category.jade

  include home/how.jade

  include home/create.jade

  include home/mobile.jade

  include home/catalog.jade

  include home/info.jade
