//BEGIN header
footer.footer
  .footer__top
    .container
      .row
        .col-md-6.d-flex.flex-column
          h2 О нас
          p Мы создаем современное сообщество, которое делает автомобиль доступным и полезным для каждого участника.
          p.last ООО “Соавто”, Москва, проспект Мира 3, оф. 303
        .col-md-4.offset-md-2.d-flex.flex-wrap.justify-content-between
          h2.w-100 Узнай больше
          ul 
            li
              a(href="#") Как это работает?
            li
              a(href="#") Поделиться авто
            li
              a(href="#") Арендовать авто
            li
              a(href="#") Доверие и защита
          ul 
            li
              a(href="#") Гайд для владельца
            li
              a(href="#") Гайд для арендатора

  .footer__bottom
    .container
      .row
        .col.d-flex.justify-content-between.flex-column.flex-sm-row
          .logo
            img(src="img/logo-black.png", alt="")
          .coopyright 2019 (c) Россия, Москва
          a(href="#") Пользовательское соглашение
          a(href="#") Политика конфиденциальности
          .social
            a(href="#")
              i.icon.icon-facebook
            a(href="#")
              i.icon.icon-instagram
            a(href="#")
              i.icon.icon-vk
            
            

//END footer