//BEGIN header
header.header
  .container
    .row.align-items-center.h-100.flex-row-reverse.flex-sm-row
      .col-xl-7.col-md-5.col-6
        .logo
          img(src="img/logo.png", alt="")
      .col-6.d-block.d-sm-none
        .open-menu
          i.icon.icon-menu
      .col-xl-5.col-md-7.d-none.d-sm-block
        nav.header__menu
          ul
            li.active
              a(href="#") О нас
            li
              a(href="booking.html") Арендовать
            li
              a(href="#") Поделиться
            li
              a(href="#") Контакты
            li
              a(href="#")
                i.icon.icon-user
//END header
