.icon-arrow {
  width: 1em;
  height: 1em;
  fill: #444;
}
.icon-calendar {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-cancel {
  width: 1em;
  height: 1em;
  fill: #F00;
}
.icon-car {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-comfort {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-confirm {
  width: 1.36em;
  height: 1em;
  fill: #F6D200;
}
.icon-easy {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-join {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mark {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-menu {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plane {
  width: 0.71em;
  height: 1em;
  fill: initial;
}
.icon-point-on {
  width: 0.66em;
  height: 1em;
  fill: none;
}
.icon-point {
  width: 0.75em;
  height: 1em;
  fill: #000;
}
.icon-profit {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shield {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-users {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
