section.catalog
  .container
    .row
      .col.position-relative
        h2.text-center Авто в аренду
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              a(href="#").catalog__block
                .catalog__block__image
                  img(src="img/car.jpg", alt="")
                .catalog__block__content
                  h3 BMW M3
                  p 1000 ₽/сутки
            .swiper-slide
              a(href="#").catalog__block
                .catalog__block__image
                  img(src="img/car.jpg", alt="")
                .catalog__block__content
                  h3 BMW M3
                  p 1000 ₽/сутки
            .swiper-slide
              a(href="#").catalog__block
                .catalog__block__image
                  img(src="img/car.jpg", alt="")
                .catalog__block__content
                  h3 BMW M3
                  p 1000 ₽/сутки
        .swiper-button-prev.d-none.d-sm-block
          i.icon.icon-arrow
        .swiper-button-next.d-none.d-sm-block
          i.icon.icon-arrow
        .d-flex.justify-content-center
          a.btn.btn-catalog(href="#") 
            img(src="img/icon-car.png", alt="")
            | подобрать автомобиль
