section.category
  .container
    .row
      .col.d-flex.flex-wrap
        a(href="#").category__block.black
          h3 #поделам
          p бизнес и премиум<br>авто
          img(src="img/category/black.png", alt="")
        a(href="#").category__block.yellow
          h3 #просто
          p удобные<br>и экономичные
          img(src="img/category/yellow.png", alt="")
        a(href="#").category__block.white
          h3 #длягруза
          p вместительные
          img(src="img/category/white.png", alt="")
        a(href="#").category__block.red
          h3 #настиле
          p спорт кары <br>и лакшери авто
          img(src="img/category/red.png", alt="")
        a(href="#").category__block.blue
          h3 #наотдых
          p отправиться<br>в путешествие
          img(src="img/category/blue.png", alt="")
        a(href="#").category__block.grey
          h3 #сдрузьями
          p от 6 мест
          img(src="img/category/grey.png", alt="")
