section.create
  .container
    .row
      .col
        h2 Мы создаем сообщество, в котором каждый может арендовать или поделиться машиной, удобно, просто, безопасно.
  .create__bg(style="background-image: url('img/create-bg.png')")
    .container
      .row.align-items-center
        .offset-md-7.col-md-4.d-flex.flex-column.align-items-center
          h3 Зарабатывайте на вашем авто до 50 000 рублей в месяц.
          a(href="#").btn.btn-create разместить авто