section.how
  .container
    .row.justify-content-center
      .col-12
        h2.text-center Как работает наш сервис
      .col-md-10
        iframe(width='100%', height='500', src='https://www.youtube.com/embed/nK2LWp4Irzg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
