section.info
  .container
    .info__block
      p Выходя из дома открыть приложение и выбрать тот автомобиль, на котором сегодня поедешь: по делам на черном Mercedes E350, на свидание с ярко синим кабрио BMW или в веселое путешествие с друзьями на Mini Countryman!
      p.yellow Добро пожаловать в SOAUTO.<br>Мы превращаем автомобильные мечты в реальность!
      a(href="#").btn.btn-info стать частью сообщества