section.mobile
  .container
    .row.align-items-center
      .col-lg-5.col-md-12
        h2 Просто и удобно.
        p Скачай приложение. Зарегистрируйся и выбирай авто по своему вкусу и запросу.
        .d-flex
          img(src="img/app-store.png", alt="")
          img(src="img/google-play.png", alt="")
      .col-lg-7.col-md-12
        img.d-none.d-sm-block(src="img/phone.png", alt="")